<html>
  <head>
    <title>ws</title>
    <script type="text/javascript" src="./bundle.js?<%= (new Date()).getTime() %>"></script>
    <link media="all" rel="stylesheet" href="./styles.css?<%= (new Date()).getTime() %>" />
  </head>
  <body>
    <div id="status">
      <span id="color">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      id: <strong id="id">????</strong> (<span id="direction"></span>)
    </div>
    <hr />
    <div id="game"></div>
  </body>
</html>
